@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #1F2937;
    padding: 16px;
}

.navbar .container {
    display: flex;
    margin: 0 auto;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
}

.links li {
    margin-left: 18px;
}

.links a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
}

.hero .container {
    display: flex;
    margin: 0 auto;
    padding: 100px 0;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}

.hero .container img {
    width: 600px;
    height: 300px;
}

.hero-content {
    margin-right: 100px;
}

.hero-content h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    padding: 8px 32px;
}

.boxes-section {
    margin-bottom: 100px;
}

.boxes-section h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 42px;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.box {
    text-align: center;
    width: 180px;
}

.box img {
    border: 3px solid #3882F6;
    border-radius: 16px;
    width: 180px;
    height: 180px;
}

.quote {
    background-color: #E5E7EB;
    padding: 125px;
    margin: 0 auto;
}

.quote blockquote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    width: 50vw;
}

.quote figcaption {
    text-align: right;
    margin: 0 auto;
    font-size: 24px;
    width: 50vw;
}